.container-custom {
    width: 60%;
    margin-top: 6rem;
}

.card-custom {
    width: 60%;
}

.link-custom-color {
    color: #6c757d;
    text-decoration: none;
}

.logo-custom-size {
    width: 30px;
    height: 30px;
}

/* Styles for screen size range [0; 409] */
@media screen and (max-width: 409px) {
    .container-custom {
        width: 100%;
    }

    .card-custom {
        width: 95%;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .logo-custom-size {
        width: 26px;
        height: 26px;
    }
}

/* Styles for screen size range (410; 800] */
@media screen and (min-width: 410px) and (max-width: 800px) {
    .container-custom {
        width: 90%;
    }

    .card-custom {
        width: 90%;
    }
}

/* Styles for screen size range (800; 1200] */
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .container-custom {
        width: 80%;
    }

    .card-custom {
        width: 70%;
    }
}

/* Styles for screen size range 1200+ */
@media screen and (min-width: 1201px) {
    .container-custom {
        width: 60%;
    }

    .card-custom {
        width: 60%;
    }
}